/* mobile device responsive */

@media screen and (max-width:576px) {
    .nav-container,
    {
        flex-direction: column;
    }

    .nav-title{
        margin-right: 10px;
    }

    .banner{
        flex-direction: column-reverse;
        margin-top: 200px;
    }

    .banner-content{
        margin-right: 0;
        flex-direction: column;
    }

    .card-container{
        grid-template-columns: 1fr;
    }

    .sponsors{
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        width: 500px;

    }
    

}

/* tablet device responsive */
@media screen (min-width:576px) and (max-width:992px){
    .nav-container{
        flex-direction: column;
    }
}