* {
    box-sizing: border-box;
}

/* sheard style css */
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    max-width: 1110px;
}

header {
    max-width: 1440px;
}

* {

    /* width: 1440px; */
    /* background: rgb(255, 255, 255); */
}


/* nav style css */


.nav-container {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 90px 120px;
    align-items: center;
    width: 1440px;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);

}

.nav-item {
    width: 460px;
    height: 36px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1rem;
    color: rgb(58, 58, 58);
    text-decoration: none;
    */
}

#icon {
    color: black;
    font-size: 20px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}


/* main style css */

/* banner style css */

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.text-description {
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    width: 196px;
    height: 44px;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

/* banner style css */

.banner {
    display: flex;
    margin-left: 230px;
    margin-right: 165px;
    width: 1390px;
    height: 475px;
    align-items: center;
    /* justify-content: center; */
}

.banner-content {
    width: 580px;
    height: 270px;
    margin-right: 233px;

}

.banner-img {
    background-image: url(../images/Circle\ design.svg);
    width: 475px;
    height: 475px;
}

/* sponsor style css */
.sponsors {
    width: 1110px;
    height: 110px;
    margin: 100px 300px;
    justify-content: space-between;
}

.sponsors img {
    margin: 35px 30px;
}

/* card section style css */

.card-container {
    width: 1040px;
    height: 1660px;
    margin: 100px 390px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    gap: 20px;
}

.card-title {
    font-size: 1.8rem;
    color: rgb(58, 58, 58);
    font-weight: 600;
    text-align: center;
    text-align: right;
    padding-right: 50px;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    width: 330px;
    height: 500px;
    padding: 15px 15px;
}

.p-name {
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 500;
    margin-top: -5px;

}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin-top: -20px;
}

#rating-star {
    margin-top: -15px;
}

/* gear style css */

.gear-container {
    width: 1140px;
    height: 270px;
    display: flex;
    margin-left: 350px;
    margin-bottom: 120px;
}

.gear-content {
    width: 610px;
    height: 224px;
    margin-left: 96px;
}

.gear-title {
    color: rgb(10, 8, 38);
    font-size: 38px;
    font-weight: 700;
}

.join-now {
    width: 155px;
    height: 44px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
}

/* footer style css */
.footer-content {
    background-color: rgb(10, 8, 38);
    width: 1440px;
    height: 300px;
    margin-left: 150px;
    text-align: center;
    padding-top: 50px;
}

.footer-title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700px;
}

.footer-content p{
    color: aliceblue;
}

.social-icon{
    color: aliceblue;
}